body.dark{

    background:#111827;

    color:white;

}

body.dark .topbar{

    background:#1f2937;

}

body.dark .welcome-card{

    background:#1f2937;

    color:white;

}

body.dark .profile-card{

    background:#1f2937;

    color:white;

}

body.dark .action-card{

    background:#1f2937;

    color:white;

}

body.dark .stat-card{

    background:#1f2937;

    color:white;

}

body.dark .activity-box{

    background:#1f2937;

    color:white;

}

body.dark .quick-settings button{

    background:#1f2937;

    color:white;

}

body.dark .bottom-nav{

    background:#1f2937;

}

body.dark .bottom-nav a{

    color:white;

}

body.dark .footer{

    background:#1f2937;

}